/* Notes like this in CSS */
html {
	font-size: 10px;
	font-family: 'Indie Flower', cursive;
	font-family: 'Dosis', sans-serif;
	background-color: #c6c6c6;
}

h1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Coiny', cursive;
  font-weight: 200;
  font-style: normal;
  color: #ffffff;
  text-decoration-line: underline;
  margin-bottom: -30px;
}

h2 {
  font-size: 24px;
  text-align: center;
  font-family: 'Coiny', cursive;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 5px;
  color: #ffffff;
}

p, li {
  font-size: 14px;    
  line-height: 1.5;
  letter-spacing: 1px;
}

body {
  width: auto;
  min-width: 1200px;
  min-height: 700px;
  margin: 10px auto;
  padding: 0 10px 10px 10px;
}

button {
	width: auto;
	height: auto;
	background-color: #afd75f;
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
  	font-style: normal;
  	padding: 0 20px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}



.container {
  margin: auto;
  margin-top: 20px;
  max-width: 1280px;
  position: relative;
}
img {
  max-width: 100%;
}
.topnav-box {
	margin: auto;
  	margin-top: 20px;
  	margin-left: 20px;
  	max-width: 650px;
  	min-width: 640px;
  	position: absolute;
  	font-weight: 400;
}
/* Add a black background color to the top navigation */
.topnav {
  padding: 14px 0;
  background-color: rgba(255,255,255,0.25);
}
/* Style the links inside the navigation bar */
.topnav a {
  color: #ffffff;
  text-align: center;
  padding: 14px 34px;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(255,255,255,0.8);
  color: #c6c6c6;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #afd75f;
  color: #ffffff;
}
.text-box {
	margin: auto;
  	margin-top: 80px;
  	margin-left: 20px;
  	margin-bottom: 20px;
  	max-width: 640px;
  	position: absolute;
 }
.text-content {
	padding: 14px 20px;
	height: 575px;
	background-color: rgba(255,255,255,0.25);
	color: #ffffff;
	font-weight: 400;
	font-size: 18px;
}
